[flake8]
max-line-length = 88
count = True
enable-extensions = Q
extend-ignore = E203,I202
exclude = dist,build,*.pyc,build,*.egg,.git,.pytest_cache,.venv,docs,.tox,examples,.poetry
per-file-ignores=
    tests/*:E5,E702
    __init__.py:F401

# flake8:quotes
inline-quotes = double
multiline-quotes = double

# flake8:import-order (unused)
import-order-style = pycharm
application-import-names = anvilor
